[Desktop Entry]
Name=Cursor
Comment=Cursor
Exec=/home/gavin/software/Cursor.AppImage
Icon=Icon=application-default-icon
Terminal=false
Type=Application
Categories=Utility;Coding
